/*
.Parentdiv {
  height: 30px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 40px;
  margin: 50px;
}

.Childdiv {
  height: 100%;
  width: 57%;
  background: red;
  border-radius: 40px;
  text-align: right;
}

.progresstext {
  padding: 10px;
  color: black;
  font-weight: 900;
}
*/
 


.genScore {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 330px;
	padding: 0;
	gap: 24px;
}

.side {
	float: left;
	width: 15%;
	margin-top: 10px;
}

.middle {
	float: left;
	width: 70%;
	margin-top: 10px;
}

/* Place text to the right */
.right {
	text-align: right;
}

/* Clear floats after the columns */
.row::after {
	display: table;
	clear: both;
	content: '';
}

/* The bar container */
.bar_container {
	width: 100%;
	text-align: center;
	color: white;
	background-color: #F1F1F1;
}

/* Individual bars */
.bar {
	width: 60%;
	height: 18px;
	background-color: #04AA6D;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
	.side,
	.middle {
		width: 100%;
	}

	.right {
		display: none;
	}
}
