.wrapper {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  min-height: 500px;
  margin-top: 40px;
  border-radius: 20px;
  background: #f3f3f3;
}

.textContainer {
  width: 50%;
  padding: 15px;

  h2 {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 900;
    font-style: normal;
    line-height: 120%;
  }

  p {
    margin-top: 25px;
    padding: 5px;
    color: #9e9e9e;
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
  }
}
@media screen and (max-width: 800px) {
  .wrapper {
    .textContainer {
      width: 95%;
      p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        color: #9e9e9e;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    min-height: auto;
    height: 419px;
    display: block;

    img {
      height: 30px;
    }
    .textContainer {
      width: 100%;
      h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #282828;
      }
      p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 120%;
        color: #9e9e9e;
      }
    }
  }
}
