.search {
	position: relative;
	width: 100%;

	span {
		position: absolute;
		top: 3px;
		color: #AC0000;

		&:first-child {
			left: 10px;
		}

		&:last-child {
			right: 15px;
			width: 18px;
			height: 18px;
			cursor: pointer;
			color: #CCC;

			&:hover {
				color: #AC0000;
			}
		}
	}

	input {
		width: 100%;
		height: 30px;
		padding: 0 40px;
		border: none;
		border-left: 7px solid #AC0000;
		border-radius: 0 5px 5px 0;
		outline: 0;
		background: #F1F1F1;
	}
}

.productsSearch {
	width: 70% !important;

	@media screen and (max-width: 1095px) {
		width: 60% !important;
	}

	@media screen and (max-width: 865px) {
		width: 100% !important;
		margin-bottom: 30px;
	}
}
