.reviewTitle {
	margin: 100px auto;
	margin-bottom: 27px;
	font-weight: 700;
	font-style: 36px;
	line-height: 26px;
}

.hr {
	margin-bottom: 76.3px;
	border: 2px solid #DDD;
	background: #DDD;
	box-shadow: 0 5.5px 4px rgb(0 0 0 / 25%);
}
