.scoreBar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 76px;
}

.picsClients {
	width: 1156px;
	height: 328px;
	margin-top: 50px;
	background-color: #F3F3F3;
}


.sortUI {
	display: flex;
	justify-content: flex-end;
	margin-top: 60px;
}