.scoreBar {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: 76px;
}

.picsClients {
	margin-top: 50px;
	padding: 32px;
	background-color: #F3F3F3;
}

.picsTitle {
	width: 1092px;
	height: 32px;
	margin-bottom: 32px;
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}
