@import 'styles/variables';

.card {
	display: flex;
	flex-direction: column;
	width: 280px;
	min-height: 337px;
	margin-right: 20px;
	margin-bottom: 60px;
	border-radius: 10px;
	background: #F3F3F3;

	&:nth-child(4n) {
		margin-right: 0;
	}

	img {
		height: 144px;
	}

	@media screen and (max-width: 1275px) {
		&:nth-child(3n) {
			margin-right: 0;
		}

		&:not(:nth-child(3n)) {
			margin-right: 20px;
		}
	}

	@media screen and (max-width: 976px) {
		&:nth-child(2n) {
			margin-right: 0;
		}

		&:not(:nth-child(2n)) {
			margin-right: 20px;
		}
	}

	@include tablets {
		margin-right: 20px !important;
	}

	@include phones {
		margin-right: 0 !important;
		border-radius: 10px;
	}
}

.cardContent {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 25px 15px;

	h5 {
		margin-bottom: 15px;
		font-size: 24px;
		font-weight: 700;

		@include phones {
			font-size: 20px;
		}
	}

	p {
		flex: 1;
		font-weight: bold;

		@include phones {
			font-size: 14px;
		}
	}

	span {
		margin-top: 20px;
		font-size: 24px;
		font-weight: 500;

		@include phones {
			font-size: 18px;
		}
	}
}

.cardActions {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
