.reviews {
	display: flex;
	flex-direction: column;
	gap: 26px;
}

.reviewer {
	display: flex;
	width: 295px;
	gap: 25px;
}

.reviewerLogo {
	width: 64px;
	height: 64px;

	span {
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.reviewerData {
	color: #757575;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;

	p {
		padding-bottom: 8px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	padding: 32px;
	background: #F3F3F3;
}

.text {
	margin-top: 28px;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

.readMore {
	margin-top: 24px;
	cursor: pointer;
	color: #BC0010;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
}

.sortUI {
	display: flex;
	justify-content: flex-end;
	margin-top: 60px;
}
