@import 'styles/variables';

.filterFeatures {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 60px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
