@import './variables';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	overflow-x: hidden !important;
	padding-right: 0 !important;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

.content {
	width: calc(100vw - 100px);
	max-width: 1180px;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 100px;
}

[data-aos] {
	pointer-events: none;
}

.aos-animate {
	pointer-events: auto;
}

.aos-init[data-aos][data-aos].aos-animate {
	transform: unset;
}
