@import './variables';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

.content {
	width: calc(100vw - 100px);
	max-width: 1180px;
	height: 100%;
	margin: 0 auto;
}
