.main {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	margin-bottom: 50px;

	.rightBlock {
		width: 823px;
		height: 500px;
		margin-left: 97px;
	}
}

.center {
	width: 90%;
	margin-left: 10%;
}
