@import 'styles/variables';

.serviceCard {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	width: 279px;
	min-height: 337px;
	margin-right: 20px;
	margin-bottom: 50px;
	border-radius: 10px;
	background: #F3F3F3;

	&:nth-child(4n) {
		margin-right: 0;
	}

	@media screen and (max-width: 1275px) {
		&:nth-child(3n) {
			margin-right: 0;
		}

		&:not(:nth-child(3n)) {
			margin-right: 20px;
		}
	}

	@media screen and (max-width: 976px) {
		&:nth-child(2n) {
			margin-right: 0;
		}

		&:not(:nth-child(2n)) {
			margin-right: 20px;
		}
	}

	@include tablets {
		margin-right: 20px !important;
	}

	@include phones {
		margin-right: 0 !important;
		border-radius: 10px;
	}
}

.content {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 25px 15px;

	h2 {
		flex: 1;
		color: #2E363E;
		font-size: 24px;
		font-weight: bold;
		font-style: normal;
	}
}

.button {
	margin-top: 20px;
	text-align: center;
}
